/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.cf {
    *zoom: 1;
}
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
html {
    background: #fefefe;
}
a:link,
a:visited,
a:active {
    color: #FFB629;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
}
p {
    margin-bottom: 1em;
}
div#main {
    margin: 0 auto;
    width: 980px;
    padding: 0;
}
div#header {
    padding: 20px;
    margin: 16px auto;
    background: #fafafa;
    *zoom: 1;
}
div#header:before,
div#header:after {
    content: "";
    display: table;
}
div#header:after {
    clear: both;
}
div#header h1 {
    font-size: 32px;
    color: #900;
    line-height: 101%;
    letter-spacing: -0.5px;
}
div#header h2 {
    font-size: 15px;
    color: #999;
}
div#header p.about {
    color: #333;
    font-size: 14px;
    margin: 10px 0 3px;
    line-height: 1.3;
}
div#header img#feedimage {
    float: right;
    padding-bottom: 10px;
    max-width: 200px;
    max-height: 110px;
}
div#subscribe {
    margin: 0 0 18px 0;
    padding: 20px 20px 30px;
}
div#subscribe h3 {
    padding-left: 0;
    font-size: 18px;
    color: #888;
}
div#subscribe h4 {
    font-weight: normal;
    margin: 14px 0 6px 0;
}
div#subscribe div#feedinput {
    text-align: center;
}
div#subscribe div#feedinput input[type=text] {
    padding: 6px;
    border: 1px solid #d4d4d4;
    font-size: 16px;
    width: 500px;
    color: #333;
    outline: none;
}
div#subscribe div#feedinput input[type=button] {
    padding: 6px;
    border: 1px solid #FFB629;
    background: #FFB629;
    font-size: 16px;
    width: 180px;
    margin: 0 0 0 4px;
    color: #fff;
    outline: none;
    font-weight: bold;
}
div#subscribe div#readerslinks {
    display:none;
}
div#subscribe div#xmllink {
    text-align: center;
}
div#subscribe div#newsletterlink {
    text-align: center;
} 
div#subscribe div img {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}
div#subscribe p {
    margin-top: 12px;
    line-height: 150%;
}
ul li.regularitem {
    padding: 20px 20px 5px;
    margin-bottom: 16px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px #d4d4d4;
}
ul li.regularitem h4.itemtitle {
    font-size: 18px;
    letter-spacing: -0.25px;
    border-bottom: 1px #d4d4d4;
    padding-bottom: 4px;
    margin-bottom: 6px;
}
ul li.regularitem h5.itemposttime {
    font-size: 12px;
    font-weight: normal;
    color: #666;
    margin-top: 3px;
    margin-bottom: 20px;
}
ul li.regularitem h5.itemposttime span {
    color: #333;
}
ul li.regularitem div.itemcontent {
    font-size: 14px;
    line-height: 130% ! important;
    overflow: hidden;
    width: 99%;
}
ul li.regularitem div.itemcontent ul {
    list-style: square;
    padding-left: 1em;
    margin-bottom: 1em;
}
ul li.regularitem div.itemcontent li {
    margin-left: 2.4em;
    margin-bottom: .5em;
}
ul li.regularitem div.itemcontent ol {
    list-style-type: decimal;
    margin-bottom: 1em;
}
ul li.regularitem div.itemcontent img[align=right] {
    padding-left: 12px;
    padding-bottom: 12px;
}
ul li.regularitem div.itemcontent img[align=left] {
    padding-right: 12px;
    padding-bottom: 12px;
}
ul li.regularitem div.itemcontent iframe {
    display: block !important;
    margin: 0 auto 25px !important;
    text-align: center;
}
ul li.regularitem div.itemcontent pre {
  border: 0 !important;
  font-size: 13px;
  margin: 0 25px 25px;
  font-family: Inconsolata, Monaco, Consolas, "Liberation Mono", Lucida Console, monospace;
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, post millennium */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
ul li.regularitem div.itemcontent img {
  max-width: 100%;
  height: auto;
}
ul li.regularitem div.itemcontent blockquote {
  margin: 25px;
}
ul li.regularitem p.mediaenclosure {
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0 10px 0;
  word-wrap: break-word;
}
ul li.regularitem p.mediaenclosure a {
  text-transform: none;
}
ul li.regularitem audio {
  width: 100%;
  margin: 10px 10px 20px 10px;
}
#footer {
  padding: 20px 20px 5px;
  background: rgba(255, 255, 255, 0.75);
  border-top: 1px #d4d4d4;
}
#footer p {
  line-height: 140%;
}
#footer img {
  float: right;
  margin: 5px 0 0 10px;
}
@media screen and (max-width: 980px) {
  div#main {
    width: auto;
  }
  div#header {
    margin: 0;
    border: 0;
    border-radius: 0;
  }
  div#header img {
    display: none;
  }
  div#subscribe {
    margin: 0;
    border: 0;
    border-radius: 0;
  }
  div#subscribe div#feedinput input[type=text] {
    max-width: 100%;
  }
  ul li.regularitem {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
  }
  #footer p {
    text-align: center;
  }
  #footer img {
    float: none;
    display: block;
    margin: 0 auto 15px;
  }
}
